In [ ]:
num = 1 # num 변수에 1을 대입합니다.

In [ ]:
num = 3
print(num)

In [ ]:
num1 = 13
num1

In [ ]:
num2 = 25
num2

In [ ]:
num2 = 77
num2

In [ ]:
# type : 변수의 자료형 확인
type(num2)

In [ ]:
num3 = 3.1425
num3

In [ ]:
num4 = 1.25
num4

In [ ]:
num4 = 3.12
num4

In [ ]:
type(num4)

In [ ]:
str1 = "Funny python"
str1

In [ ]:
str2 = 'Easy python'
str2

In [ ]:
type(str2)

In [ ]:
number = 10
Number  = 20
print("number : ", number)
print("Number :", Number)

In [ ]:
num1_num2 = 10
num1_num2

In [ ]:
1a = 10

In [ ]:
# 예약어 for if class def import
# 명령어 sum max min

In [ ]:
import keyword
keyword.kwlist

In [ ]:
a = 10
b = 15
print(a)
print(b)

In [ ]:
a, b = 10, 15
print(a)
print(b)

In [ ]:
str1 = "python"
str2 = "python"
print(str1)
print(str2)

In [ ]:
x = 100
y = 200
sum = x+y
print(sum)

In [1]:
sum([1,2,3,4])

10

In [2]:
s1 = "she's gone"
s2 = "she\'s gone"
print(s1)
print(s2)

she's gone
she's gone

In [4]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [5]:
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
문자열을 하나로 대입할 때

In [6]:
s = '''여러줄로 구성된
문자열을 하나로
대입할 때'''
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [8]:
s = """여러줄로 구성된
문자열을 하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [11]:
s = "My name is yena"
s[0]

'y'

In [14]:
s[8]

'i'

In [15]:
print(s[-2])
print(s[-5])

n

In [19]:
print(s[3:8])
print(s[-7:-5])

name
is

In [20]:
print(s[0:7])
print(s[:7])

My name
My name

In [21]:
print(s[8:])
print(s[8:15])
print(s[-7:])

is yena
is yena
is yena

In [25]:
print(s[:])
print(s[0:15])
print(s)

My name is yena
My name is yena
My name is yena

In [26]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 : ", s[:11])
print("날씨 : ", s[17:19])

날짜 :  2020년 3월 3일
날씨 :  맑음

In [36]:
a = [10,1,5,3,4]
a.sort

In [35]:
a.sort()
a

[1, 3, 4, 5, 10]